transformers==4.41.0
huggingface-hub>=0.23.0,<1.0
datasets
accelerate
sentencepiece
protobuf
faiss-cpu
bitsandbytes==0.43.1
vllm==0.4.2
sentence-transformers
tensorboard
torch-tb-profiler
nvidia-ml-py
tqdm
scipy
typer
rich
python-dotenv
numpy